@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";
@import "font-awesome.less";


/* 
===== Primary Styles ========================================================
   Author: dagingaa
========================================================================== */

body {
	background-image: linear-gradient(bottom, #dddddb 39%, #f5f5f5 70%);
	background-image: -o-linear-gradient(bottom, #dddddb 39%, #f5f5f5 70%);
	background-image: -moz-linear-gradient(bottom, #dddddb 39%, #f5f5f5 70%);
	background-image: -webkit-linear-gradient(bottom, #dddddb 39%, #f5f5f5 70%);
	background-image: -ms-linear-gradient(bottom, #dddddb 39%, #f5f5f5 70%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.39, #dddddb),
		color-stop(0.7, #f5f5f5)
		);

	background-repeat: repeat-x;
	background-color: #e8e8e8;
}

#authors div.author {
	border-top: 1px solid #757575;
} 
.author .img {
	margin-top: 10px;
}

.author p {
	font-size: 13px;
}

div.white {
	background-color: #f5f5f5;
}

.white article {
	padding: 10px;
}

.pink {
	color: #ed003d;
}

#header h1 {
	padding-left: 10px;
}

.brand {
	padding-left: 60px !important;
}

article p {
	line-height: 1.5em;
}

article img {
	padding: 20px 0;
}

#disqus_thread img {
	padding: 0;
}

.byline span {
	padding-right: 10%;
}