<div class="author">
	<div class="pull-right img">
		<img src="http://en.gravatar.com/avatar/{{author.gravatar}}">
	</div>
	<h2>{{author.name}}</h2>
	<small class="muted">({{page.author}})</small>
	<p>
		<b>Position:</b> {{author.position}}<br>
		<b>Github:</b> <a href="http://www.github.com/{{author[1].github}}">{{author.github}}</a><br>
		<b>Twitter:</b> <a href="http://www.twitter.com/{{author[1].twitter}}">@{{author.twitter}}</a><br>
		<b>Web:</b> <a href="{{author.web}}">{{author.web}}</a>
	</p>
	{{author.about | markdownify}}
</div>